/*table{
	margin: 0px auto;

}*/
.td1{
	background: yellow;
	width :40%;
	
}
.phan1{
	background: red;
	 line-height: 400px;  height: 400px;
	background: red;
	 text-align: center;
	
}
.hoc{
	width: 250px;
	background: #928F8F;
	color: white;
	font-size: 20px;	
}

.td2{
	width: 60%;
	padding-left: 15px;
}

.det a{
	background:white;
	border: 2px double;
	display: inline;
	padding: 10px;
	border-radius: 10px;
	transition: 0.5s;
}
.det :hover{
	background: black;
	color: white;

}

.det a{
	text-decoration: none;
	font-weight: 900;
	color: black;

}



