body{
    
    width: 850px;
    height: 600px;
    margin: auto;  
}
.khung{
    background-color: darkslategrey;
    width: 750px;
    height: 500px;
    margin: auto;  
}
.khung1{
    background-color: rgba(199, 19, 19, 0.808);
    border: 1px yellow solid;
     width: 200px;
     max-height: 100px;
    /* height: 40px; */ 
    padding: 0px ;
    float: left;
    margin: 20px;
    cursor: pointer;
   box-sizing: border-box;
   /* position: relative; */ 
}
p{
    color: rgb(223, 238, 14);
    height: 50px;
    padding: 10px;
    line-height: 30px;
   /* position: absolute; */
   box-sizing: border-box;
}
.btn ,.btn-btn{
    cursor: pointer;
    background-color: orange;
    border: 1px yeloow solid;
    margin: 20px;
    border-radius: 5px ;

}
.cauhoi{
    display: none;
    background-color: palegoldenrod;
    border: 1px red solid;
    clear: both;
   
}
.chon{
    cursor: pointer;
    list-style: none;
}
 
li.checked {
    background-color: #c5132b;
  }


 /*      dong ho */
 .oclock{
    position: relative;
    display: none;
 }
 .oclock .btn-dongho{
     position: absolute;
     
     top: 150px;
     right: 0px;
 }

  .oclock .dongho{
    background-color: cornflowerblue;
    position: relative;
    position: absolute;
    right: 140px;
}
.dh{
    position: absolute;
    background-color: rgb(92, 18, 134);
    width: 100px;
    height: 100px;
    border: 1px orange solid;
    border-radius: 50%;
    float: left;
}
 .dh{ 
    text-align: center; 
    font-weight: bold;
    font-size: 50px;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 0px;
    color: red;

}

.btn-btn-dongho1 , .btn-btn-dongho2{
    cursor: pointer;
    background-color: darkorange;
    clear: both;
    margin-left: 200px;
    width: 100px;
    height: 50px;
    border-radius: 10px;

}